@using System.Globalization
@model GetBlogDetailVM

<section class="blog-detail-section">
    <div class="container">
        <div class="blog-detail-container">
            <div class="blog-detail__main-image">
                @foreach (var blogImage in @Model.Images)
                {
                    if(blogImage.IsMain == true)
                    {
                        <img src="~/assets/uploads/images/@blogImage.Url" alt="blog-main-image" />
                    }
                }
            </div>
            <div class="blog-detail__content">
                <div class="blog-detail__content-title">
                    <h2>@Model.Title</h2>
                    <span>/ @Model.CreateDate.ToString("MMMM dd, yyyy", CultureInfo.InvariantCulture) /</span>
                </div>
                <p>@Model.Content</p>
                <p class="mx-5 text-end">Author: @Model.Firstname @Model.Lastname</p>
            </div>
            <div class="blog-detail__other-images">
                <div class="row justify-content-center">
                    @foreach (var blogImage in @Model.Images)
                    {
                        if(blogImage.IsMain == false)
                        {
                            <div class="col-lg-4 my-2">
                                <img src="~/assets/uploads/images/@blogImage.Url" alt="blogImage">
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>