@model BlogVM

<section class="blog-title-section">
    <div class="container">
        <div class="blog-title-container">
            <div class="blog-title__header">
                <h1>Blog</h1>
            </div>
            <div class="blog-title__navigation">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index" >Home</a></li>
                    <li><span>Blog</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="blogs-section">
    <div class="container">
        <div class="row">
            @foreach (var blog in @Model.Blogs)
            {
                <div class="col-lg-4">
                    <div class="card" style="width: 26rem;">
                        <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">
                            @foreach (var blogImage in @blog.Images)
                            {
                                if(blogImage.IsMain == true)
                                {
                                    <img class="card-img-top" src="~/assets/uploads/images/@blogImage.Url" alt="Card image cap">
                                }
                            }
                        </a>
                        <div class="card-body">
                            <h5 class="card-text"><a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">@blog.Title</a></h5>
                            <p>@blog.Description</p>
                            <hr>
                            <span>@blog.CreateDate</span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row justify-content-center">
            <div class="blogs-load-more">
                <button type="button">Load More</button>
            </div>
        </div>
    </div>
</section>