@using System.Globalization
@model BlogVM

@foreach (var blog in @Model.Blogs)
{
    <div class="col-lg-4">
        <div class="card" style="width: 26rem;">
            <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">
                @foreach (var blogImage in @blog.Images)
                {
                    if (blogImage.IsMain == true)
                    {
                        <img class="card-img-top" src="~/assets/uploads/images/@blogImage.Url" alt="Card image cap">
                    }
                }
            </a>
            <div class="card-body">
                <h5 class="card-text"><a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">@blog.Title</a></h5>
                <p>@blog.Description</p>
                <hr>
                <span>@blog.CreateDate.ToString("MMMM dd, yyyy", CultureInfo.InvariantCulture)</span>
            </div>
        </div>
    </div>
}