@model ProductVM

@foreach (var product in Model.Products)
{
    <div class="col-lg-4">
        <div class="card b-card">
            @foreach (var productImage in @product.Images)
            {
                if (productImage.IsMain == true)
                {
                    <div class="product-image" style="background-image: url('/assets/uploads/images/@productImage.Url'); background-position: center">
                        <div class="product-shadow-container">
                            <a class="product-shadow-link" asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id"><i class="fa-solid fa-plus"></i></a>
                            <button class="add-basket" data-id="@product.Id"><i class="fa-solid fa-bag-shopping"></i></button>
                            <button class="add-wishlist" data-id="@product.Id"><i class="fa-regular fa-heart"></i></button>
                        </div>
                    </div>
                }
            }
            <div class="card-body cent">
                <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id" class="card-text card-text-hover">@product.Title</a>
                <p class="product-price"><span>$</span>@product.Price</p>
            </div>
        </div>
    </div>
}