@model GetProductDetailVM

<section class="product-detail-title-section">
    <div class="container">
        <div class="product-detail-title-container">
            <div class="product-detail-title__header">
                <h1>@Model.Title</h1>
            </div>
            <div class="product-detail-title__navigation">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><span>@Model.Title</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="product-detail-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                @foreach (var productImage in @Model.Images)
                {
                    if(productImage.IsMain == true){
                        <img src="~/assets/uploads/images/@productImage.Url" alt="productImage">
                    }
                }
            </div>
            <div class="col-lg-6">
                <div class="product-detail-content">
                    <h3>@Model.Title</h3>
                    <span>$@Model.Price</span>
                    <p>@Model.Description</p>
                    <div class="product-detail__action">
                        <button class="product-detail__cart add-basket" type="button">Add to cart</button>
                        <button class="product-detail__wishlist add-wishlist" type="button"><i class="fa-regular fa-heart"></i></button>
                    </div>
                    <div class="product-detail__feature">
                        <div>
                            <span>Categories:</span>
                            @foreach (var subCategory in Model.SubCategories)
                            {
                                if(subCategory == Model.SubCategories.Last()){
                                    <span>@subCategory.Name</span>
                                }else {
                                    <span>@subCategory.Name, </span>
                                }
                            }
                        </div>
                        <div>
                            <span>Color:</span>
                            <span>@Model.Color</span>
                        </div>
                        <div>
                            <span>Weight:</span>
                            <span>@Model.Weight</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-3" />
        <div class="row justify-content-center">
            @foreach (var image in Model.Images)
            {
                if(image.IsMain == false) {
                    <div class="col-lg-3 m-3">
                        <img src="~/assets/uploads/images/@image.Url" alt="productImage" />
                    </div>
                }
            }
        </div>
    </div>
</section>