@using System.Globalization
@model HomeVM

@{
    Layout = "_HomeLayout";
}

<section class="main-banner">
    <div class="main-banner__container">
        <div class="container px-5">
            <span>Chair <br> Collection <br> 2022</span>
            <h2>Welcome To <br> Helendo Store</h2>
            <hr>
            <p> Many desktop publishing packages and web page editors now use <br> Lorem Ipsum as their default
                model text</p>
            <a asp-controller="Product" asp-action="Index">Shop Now <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
</section>
<section class="nancychair-section">
    <div class="container">
        <div class="nancychair-container d-flex justify-content-between">
            <div class="nancychair-image">
                <img src="./assets/images/nancy-chair.jpg" alt="nancy-chair" />
            </div>
            <div class="nancychair-content">
                <span>Featured Product</span>
                <h2><a asp-controller="Product" asp-action="Detail" class="shop-text-link">Nancy Chair</a></h2>
                <hr>
                <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                <a asp-controller="Product" asp-action="Index" class="shop-link-button">
                    Only 90$ <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="woodpine-section">
    <div class="container">
        <div class="woodpine-container d-flex justify-content-between">
            <div class="woodpine-content">
                <span>Featured Product</span>
                <h2><a asp-controller="Product" asp-action="Detail" class="shop-text-link">Table Wood Pine</a></h2>
                <hr>
                <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                <a asp-controller="Product" asp-action="Index" class="shop-link-button">
                    Only 50$ <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
            <div class="woodpine-image">
                <img src="~/assets/images/wood-pine.png" alt="wood-pine" />
            </div>
        </div>
    </div>
</section>
<section class="artdeco-section">
    <div class="container">
        <div class="artdeco-container d-flex justify-content-between">
            <div class="artdeco-image">
                <img src="~/assets/images/art-deco.png" alt="art-deco" />
            </div>
            <div class="artdeco-content">
                <span>Featured Product</span>
                <h2><a asp-controller="Product" asp-action="Detail" class="shop-text-link">Art Deco Home</a></h2>
                <hr>
                <p>Many desktop publishing packages and web page editors now use
                    Lorem Ipsum as their default model text, and a search for.</p>
                <a asp-controller="Product" asp-action="Index" class="shop-link-button">
                    Only 30$ <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="bestselling-section">
    <div class="container">
        <div class="bestselling-header">
            <h2>Best Selling</h2>
        </div>
        <div class="bestselling-slider">
            <section class="cnt">
                <div class="inner">
                    <div class="slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                @foreach (var product in @Model.Products)
                                {
                                    <div class="swiper-slide">
                                        <a class="d-block w-100" asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">
                                            @foreach (var productImage in product.Images)
                                            {
                                                if(productImage.IsMain == true)
                                                {
                                                    <img class="d-block w-100" src="~/assets/uploads/images/@productImage.Url" alt="productImage">
                                                }
                                            }
                                        </a>
                                        <div class="product-content">
                                            <h3><a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">@product.Title</a></h3>
                                            <span>$@product.Price</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<section class="blog-section">
    <div class="container">
        <div class="blog-header">
            <h2>Our Blog</h2>
        </div>
        <div class="blog-blogs">
            @foreach (var blog in @Model.Blogs)
            {
                <div class="card" style="width: 26rem;">
                    <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">
                        @foreach (var blogImage in @blog.Images)
                        {
                            if(blogImage.IsMain == true)
                            {
                                <img class="card-img-top" src="~/assets/uploads/images/@blogImage.Url" alt="Card image cap">
                            }
                        }
                    </a>
                    <div class="card-body">
                        <h5 class="card-text"><a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">@blog.Title</a>
                        </h5>
                        <hr>
                        <span>@blog.CreateDate.ToString("MMMM dd, yyyy", CultureInfo.InvariantCulture)</span>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<section class="newsletter-section">
    <div class="container d-flex align-items-center">
        <div class="newsletter-title">
            <h2>Our Newsletter</h2>
            <hr>
        </div>
        <div class="newsletter-input">
            <input placeholder="Your email address">
            <button type="button">Subscribe</button>
        </div>
    </div>
</section>